.modal-form {
  height: inherit!important;
}
.modal-card {
  width: 100%!important;
  height: inherit!important;
}

.help {
  display: none !important;
}

#plus {
  margin-right: 4px;
}

.note-file {
  background-color: $light;
  padding: 12px;
  margin-bottom: 10px;
}
